# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Ignore all test programs
#
p_*
t_*
tests-bos.log
tests-bos.err
